/* Reset */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
/* Navigation bar */
nav{
    width: 100%;
    background: rgb(0,0,0);
    overflow: auto;
}
.navigation ul{
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
}
.navigation li{
    float: right;
}
.logo img{
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
}
nav a{
    width: 140px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;
    text-align: center;
}
nav a:hover{
    background: rgb(250, 70, 38);
    transition: 0.10s;
    text-transform: uppercase;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 20px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown:hover .dropbtn {
  background-color:  rgb(250, 70, 38);
}
.dropbtn:hover{
  background: rgb(250, 70, 38);
  text-transform: uppercase;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color:  rgb(250, 70, 38);
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Contact Section */
.contact-section{
  padding: 0;
  position: relative;
  margin: 150px 450px;
  width: 40%;
  background: #272727;
  padding: 40px 0;
  transition: all 0.7s;
  border-radius: 20px;
  border: 1px solid #f4511e;
  /* Animation */
  animation: anim 1s ease-in forwards;
}
/* Loading Animation */
@keyframes anim{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.contact-section:hover{
  transform: scale(1.03);
}
/* Heading */
.contact-section h1{
  text-align: center;
  color: #ecf0f1;
  font-weight: normal;
  letter-spacing: 0.1rem;
}
.border{
  width: 100px;
  height: 6px;
  background: #e74c3c;
  margin: 20px auto;
}
/* Form */
.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}
.c-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: none;
  background: #ecf0f1;
  padding: 20px 40px;
  outline: none;
  color: #2c3e50;
  transition: all 0.4s;
}
.c-text:focus{
  padding: 15px 30px;
}
textarea{
  resize: none;
  height: 120px;
}
.c-btn{
  width: 100%;
  height: 5vh;
  font-size: 1rem;
  background: #e74c3c;
  outline: none;
  border: none;
  color: #ecf0f1;
  cursor: pointer;
  transition: all 0.5s;
}
.c-btn:hover{
  background: #ecf0f1;
  color: #e74c3c;
  font-size: 1.1rem;
}
/*footer*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #353535;
}
footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #141414;
  height: auto;
  width: auto;
  font-family: "Roboto";
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-bottom{
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
body {
   background-image: url("/image/BG.jpg");
   background-size: cover; 
  background-repeat: no-repeat; 
}