/* Reset */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
/* Navigation bar */
nav{
  width: 100%;
  background: rgb(0,0,0);
  overflow: auto;
}
ul{
  padding: 0;
  margin: 0 0 0 150px;
  list-style: none;
}
li{
  float: right;
}
li.login{
  float: right;
}
.logo img{
  position: absolute;
  margin-top: 5px;
  margin-left: 10px;
}
nav a{
  width: 140px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #f2f2f2;
  text-align: center;
}
nav a:hover{
  background: rgb(250, 70, 38);
  transition: 0.10s;
  text-transform: uppercase;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 20px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown:hover .dropbtn {
  background-color:  rgb(250, 70, 38);
}
.dropbtn:hover{
  background: rgb(250, 70, 38);
  text-transform: uppercase;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color:  rgb(250, 70, 38);
}
.dropdown:hover .dropdown-content {
  display: block;
}
b {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}
/* Slideshow container */
.slideshow-container {
  padding: auto;
  max-width: 1600px;
  position: relative;
  margin: auto;
}
/* The dots/bullets/indicators */
.dot {
  box-align : center;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: #717171;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}
@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}
@font-face {
    font-family: 'Roboto';
    src: url('path/to/roboto-font.woff2') format('woff2'),
         url('path/to/roboto-font.woff') format('woff');
    /* Add more font formats if needed */
}
.ad {
  margin: auto;
  border: 3px solid rgb(253, 248, 248);
  border-radius: 12px;
  padding: 5px;
  width: 60%;
  text-align: center;
  font-family: 'roboto';
  font-size: medium;
  color: #f2f2f2;
}
.button{
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
.center {
 text-align: center;
  margin: 0;
  position: relative;
  top: 70%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*footer*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #353535;
}
footer{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  background: #141414;
  height: auto;
  width: auto;
  font-family: "Roboto";
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-bottom{
  background: #000;
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
body {
  background-image: url("/image/BG.jpg");
  background-size: cover; 
  background-repeat: no-repeat; 
}